<div class="top-bar"></div>

<nav class="navbar">
  <div class="logo">
    <img routerLink="/inicio" src="images/Logo_inicio.png" alt="Logo" />
  </div>
  <!-- Botón hamburguesa -->
  <button
    class="menu-toggle"
    (click)="toggleMenu()"
    [attr.aria-expanded]="isMenuOpen"
    aria-label="Abrir menú"
  >
    <span></span>
    <span></span>
    <span></span>
  </button>

  <!-- Menú -->
  <div class="nav-content" [class.active]="isMenuOpen">
    <ul class="menu">
      <li>
        <a routerLink="/inicio" routerLinkActive="nav-active" (click)="closeMenu()">INICIO</a>
      </li>
      <li>
        <a routerLink="/nosotros" routerLinkActive="nav-active" (click)="closeMenu()">NOSOTROS</a>
      </li>
      <li>
        <a routerLink="/programas" routerLinkActive="nav-active" (click)="closeMenu()">PROGRAMAS</a>
      </li>
      <li>
        <a routerLink="/noticias" routerLinkActive="nav-active" (click)="closeMenu()">NOTICIAS</a>
      </li>
      <li>
        <a routerLink="/servicios" routerLinkActive="nav-active" (click)="closeMenu()">SERVICIOS</a>
      </li>
    </ul>

    <div class="nav-actions">
      <a routerLink="/admision" routerLinkActive="btn-admision-active"
         class="btn-admision" (click)="closeMenu()">
        ADMISIÓN
      </a>
      <a routerLink="/transparencia" routerLinkActive="btn-transparencia-active"
         class="btn-transparencia" (click)="closeMenu()">
        TRANSPARENCIA
      </a>
    </div>
  </div>
</nav>
