*.sql
*.env
*.env.example
*.env.deploy.example
.DS_Store
npm-debug.log*
logs
*.log
debug.log
Thumbs.db
.scannerwork/
package-lock.json
package.json
node_modules/
.idea/
.vscode/
sql/
*.sql