@import '../admin-shared.css';
@import '../comunicados/admin-comunicados.css';

.form-grid-2 {
  grid-template-columns: 1fr !important;
}

.preview {
  display: none !important;
}

.modal-body {
  padding-bottom: 0;
}

.editor-section {
  margin-top: 15px;
}

.modal {
    width: 500px;
}
